[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
jupyter = "*"
matplotlib = "*"
openpyxl = "*"
plotly = "*"
chart-studio = "*"
ipywidgets = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.10"
